<template>
    <div>
        <select class="select">
            @foreach($brand as $brand)
            <option class="option" data-id="{{$brand->id}}" value="{{$brand->brand}}">{{$brand->brand}}</option>
            @endforeach
        </select>
    </div>
</template>

<script>
    export default {
        name: "create_car"
    }
</script>

<style scoped>

</style>